.wrapper {
	background: #d7dadb;
	width: 100%;
	height: 100%;
	>.top-content {
		margin-top: 50px;
		margin-bottom: 50px;
		// margin-right: 200px;
		// margin-left: 200px;
		font-family: Noto Sans, Arial, sans-serif;
    background: #fff;
		>.ant-row {
			>.ant-col {
				>.ant-row {
					>.txt-name {
						font-size: 22px;
						font-weight: bold;
						color: #48494a;
					}
					
					>.txt-address {
						font-size: 13px;
						color: #48494a;
					}

					>.status {
					// 	background: #6cc942;
					// 	border: solid 1px #6cc942;
					// 	border-radius: 50%;
					// 	width: 8px;
					// 	height: 8px;
					// 	position: relative;
						>span {
							font-size: 13px;
							color: #329900;
						}
          }
          >.utility {
            >.utility-item {
              float: left;
              width: 140px;
              position: relative;
              padding: 10px;
              margin-bottom: 30px;

              >.utility-title {
                color: #959595;
                font-size: 13px;
                text-transform: uppercase;
              }
              
              >.utility-content {
                font-size: 14px;
              }
            }
          }
				}
				>.ant-avatar-lg {
					width: 350px;
					height: 200px;
					border-radius: 0%;
				}
			}
		}
  }
  >.bottom-content {
    margin-top: 25px;
		margin-bottom: 25px;
		margin-right: 200px;
    margin-left: 200px;
    
    >.ant-row {
      background: #fff;
      border-radius: 5px;

      >.ant-tabs {
        padding: 50px;

        >.ant-tabs-bar {
          >.ant-tabs-nav-container {
            >.ant-tabs-nav-wrap {
              >.ant-tabs-nav-scroll {
                >.ant-tabs-nav {
                  >div {
                    >.ant-tabs-tab {
                      background: #fcfcfc;
                    }

                    >.ant-tabs-tab-active {
                      background: #fff;
                    }
                  }
                }
              }
            }
          }
        }
        
        >.ant-tabs-content {
          >.ant-tabs-tabpane {
            >.ant-row {
              height: 50px;
              width: 95%;
              padding: 13px;
              display: flex;
              align-items: center;
              cursor: pointer;

              >.ant-col {
                >.ant-avatar-sm {
                  border-radius: 0%;
                  width: 50px;
                  height: 50px;
                  cursor: pointer;
                  margin-left: 15px;
                }

                >.item-name {
                  font-family: Noto Sans, Arial, sans-serif;
                  color: #464646;
                  font-size: 16px;
                  cursor: pointer;
                  line-height: 1.3em;
                  font-weight: 700;
                }

                >.item-price {
                  font-family: Noto Sans, Arial, sans-serif;
                  color: #464646;
                  cursor: pointer;
                  line-height: 1.3em;
                  font-size: 16px;
                  font-weight: 700;
                  color: #0288d1;
                  text-align: right;
                }

                >.ant-btn {
                  color: #fff;
                  background-color: #ff4d4f;
                  border-color: #ff4d4f;
                  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
                  &::focus {
                    color: #fff;
                    background-color: #ff4d4f;
                    border-color: #ff4d4f;
                    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
                  }
                }
              }
            }

            >.ant-divider {
              margin: 15px;
            }
          }
        }
      }
    }
  }
}

.cart-btn {
  position: fixed;
  z-index: 99;
  right: 30px;
}

.ant-modal-wrap {
  >.ant-modal {
    width: 850px !important;
    font-family: Noto Sans, Arial, sans-serif;
    >.ant-modal-content {
      width: 850px;
      >.ant-modal-body {
        > div.footerCustom {
          margin-top: 25px;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          > button.btn-book {
            width: 218px;
            height: 36px;
            margin-right: 19px;
          }
        }
      }
    }
  }
}

.list-dishes {
  >.ant-table-wrapper {
    width: 800px;
    >.ant-spin-nested-loading {
      >.ant-spin-container {
        >.ant-table {
          >.ant-table-content {
            >.ant-table-scroll {
              >.ant-table-header {
                display: none;
              }

              >.ant-table-body {
                overflow-y: inherit;
                overflow-x: hidden;
                >table {
                  >.ant-table-tbody {
                    >.ant-table-row {
                      >.ant-table-row-cell-break-word {
                        >.ant-avatar-sm {
                          border-radius: 0%;
                          height: 40px;
                          width: 40px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

div.totalPrice {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 19px;
  >span {
    color: red;
  }
}

