.ant-card-body{
    margin: -16px;
}

.ant-card-meta-description{
    display: block;
    width: 195px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recommend{
    height: 900px;
    width: 100%;
    overflow-y: scroll;
}

.recommend::-webkit-scrollbar { 
    display: none; 
} 

.ant-card-head-title {
    font-size: 22px;
}