div.wrapper {
  font-family: Noto Sans, Arial, sans-serif;
  background: #d7dadb;
  width: 100%;
  height: auto;

  >div.info-label {
    position: absolute;
    top: 12%;
    left: 10%;
    font-weight: bold;
  }

  >div.order-label {
    position: relative;
    top: 30px;
    left: 148px;
    font-weight: bold;
  }

  >div.order-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    >div.order-content {
      margin-top: 40px;
      padding-bottom: 30px;
      background: #fff;
      border-radius: 5px;
      width: 80%;
      overflow-y: scroll;
      max-height: 500px;
    }
  }

  >div.info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    >div.info-content {
      margin-top: 40px;
      padding-bottom: 30px;
      background: #fff;
      border-radius: 5px;
      width: 80%;
    }
  }

  >.ant-row {
    >.ant-col {
      >div.notifi-wrapper {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        margin: 20px;
        height: 400px;

        >div.notifi-tag {
          height: 75px;
          margin: 0 10px;
          display: flex;
          align-items: center;
          >div.ant-row {
            width: 100%;
            >div.ant-col {
              >.anticon {
                font-size: 30px;
              }

              >.anticon-check-circle {
                color: #48e817
              }
            }
          }
        }
      }

      >div.descript-wrapper{
        width: 100%;
        background: #fff;
        border-radius: 5px;
        margin: 20px;
        height: 400px;
      }
    }
  }
}


div.Profile {
  width: 80%;
  padding: 0 32px 0 32px;
}

div.txtFullname {
  font-weight: 600;
  font-size: 24px;
  color: #4F4F4F;
}
div.txtID {
  font-size: 18px;
  span {
    color: #666666;
  }
}


div.boxAvatar {
  margin-right: 32px;

  .ant-avatar-lg {
    width: 165px;
    height: 165px;
    line-height: 165px;
    border: 1px solid #1890ff;
  }
}

.disabledUpload {
  pointer-events: none;
  border: 1px solid #d9d9d9 !important;
  background-color: #f5f5f5 !important;
  color: rgba(0, 0, 0, 0.25) !important;
  box-shadow: none !important;
}

.change-profile-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
