div.shop-item-content {
  width: auto;
  height: auto;
  >div.ant-col {
    >div.ant-card {
      >div.ant-card-body {
        >div.ant-card-meta {
          >div.ant-card-meta-detail {
            >div.ant-card-meta-description {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
div.footer {
  text-align: center;
  height: 140px;
  margin-top: 40px;
  padding: 60px;
  background: #ff7e5f
}