div.search-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;

  >div.search-content {
    width: calc(100% - 20px);
    padding-bottom: 10px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
  }

  div.district-select {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
  }

  >div.pagination-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
  }
}