.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(to right, #525252, #3d72b4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
